@media (max-width: 1200px){
    .main-page__container{
    background: linear-gradient(90deg, rgba(255,250,241,1) 45.5%, rgba(33,33,33,1) 45.5%);
    }
    .main-page__content {
        max-width: 85%;
	}
    .main-page__aside{
        max-width: 45%;
    }
    .about-main{
        max-width: 60%;
    }
}

@media (max-width: 990.98px) {
    .main-page__container{
        background: linear-gradient(90deg, rgba(255,250,241,1) 45.5%, rgba(33,33,33,1) 45.5%);
        }
    .main-page__content {
		max-width: 85%;
	}
    .main-page__aside{
        max-width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .about-main{
        max-width: 55%;
    }
	.languages__content{
        display: flex;
        column-gap: 10px;
        flex-wrap: wrap;
    }
    .aside-main__paragraph{
        font-size: 16px;
        margin-bottom: 3.75rem;
        line-height: 1.2;
        text-align: center;
    } 
    
    .aside-main__tittle{
        font-size: 50px;
    }
    .aside-main__image{
        margin: 0 auto;
        max-width: 350px;
        margin-bottom: 1.875rem;
        border: 0.3125rem solid #D2D2D2;
        height: 300px;
        overflow: hidden;
    } 
    .aside-main__image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
}

@media (max-width: 767.98px) {
    [class*="__container"]{
        padding: 0;
        background: none;
        max-width: none;
    }
	.main-page__content{
        max-width: NONE;
        display: flex;
        flex-direction: column;
		padding-top: 0;
	}
    .about-main{
        max-width: 100%;
    }
    .main-page__aside{
        max-width: 100%;
    }
    .hobbies__content{
        display: grid;
        grid-template-columns: repeat(2,  6.25rem);
        justify-content: start;
        column-gap: 1.625rem;
    }
    .languages__content{
        display: flex;
        justify-content: start;
        gap: 0.625rem;
    } 
    .aside-main__text{
        max-width: 100%;
    }
    .contact-aside__tittle{
        text-align: center;
    }
    .contact-aside__inf{
        display: flex;
        justify-content: center;
        gap: 60px;
        align-items: start;
    }
    .hobbies__content{
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
    }
    .languages__content{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 480px){
    [class*="__container"]{
        padding: 0;
        background: none;
    }
	.main-page__content{
        display: flex;
        flex-direction: column;
		padding-top: 0;
        padding-bottom: 0;
	}
   
    .hobbies__content{
        display: grid;
        grid-template-columns: repeat(2,  6.25rem);
        justify-content: center;
        column-gap: 1.625rem;
    }
    .languages__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
    } 
    .aside-main__text{
        max-width: 100%;
    }
    .aside-main__image{
        margin: 0 auto;
        max-width: 350px;
        margin-bottom: 1.875rem;
        border: 0.3125rem solid #D2D2D2;
        height: 250px;
        overflow: hidden;
    } 
    .aside-main__image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}